SQLAlchemy==1.4.35
psycopg2-binary==2.9.3
pydantic==1.9.1
fastapi==0.75.1
uvicorn==0.16.0
pandas==1.4.2
python-dotenv==1.0.0
requests==2.27.1
catboost==1.0.6
numpy==1.22.4
scikit_learn==1.1.1
lightgbm==2.0.3
xgboost==1.6.1
category-encoders==2.5.0
loguru==0.6.0
implicit==0.5.2
lightfm==1.17
jupyterlab
